html,
body,
#container {
  width: 100%;
  height: 100%;
}

.operate-box {
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  border-radius: 2px;
  padding: 15px;
  z-index: 99;
  header {
    font-size: 16px;
    color: #e4252e;
    border-left: 4px solid #e4252e;
    padding-left: 10px;
    display: inline-block;
    line-height: 18px;
  }
  section {
    padding: 20px 0;
    .item {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      input,
      select {
        width: 70%;
      }
    }
    .radius {
      display: none;
    }
    .radius.visible {
      display: flex;
    }
  }
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

button.submit {
  color: #fff;
  background: #c00;
  border-color: #c00;
}
button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 4px;
}

input[disabled] {
  background: #eee;
}

.input-card {
  display: none;
}
.input-card.visible {
  display: block;
}

#myPageTop {
  position: absolute;
  left: 30%;
  top: 30px;
  background: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

// awitch 开关 ---
/*开关的大小*/
.switch-container {
  height: 15px;
  width: 30px;
  /*设置checkbox不显示*/
  .switch {
    display: none;
  }

  /*设置label标签为椭圆状*/
  label {
    display: block;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
  }

  /*在label标签内容之前添加如下样式，形成一个未选中状态*/
  label:before {
    content: "";
    display: block;
    border-radius: 25px;
    height: 100%;
    width: 15px;
    background-color: white;
    opacity: 1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.2s ease;
  }

  /*在label标签内容之后添加如下样式，形成一个选中状态*/
  label:after {
    position: relative;
    top: -15px;
    left: 15px;
    content: "";
    display: block;
    border-radius: 25px;
    height: 100%;
    width: 15px;
    background-color: white;
    opacity: 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.2s ease;
  }

  /* ~ 兄弟选择符。
 p~ul ：位于 p 元素之后的所有 ul 元素
*/

  /*选中后，选中样式显示*/
  #switch:checked ~ label:after {
    opacity: 1;
  }

  /*选中后，未选中样式消失*/
  #switch:checked ~ label:before {
    opacity: 0;
  }

  /*选中后label的背景色改变*/
  #switch:checked ~ label {
    background-color: green;
  }
}
